@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>World Bank Welcomes You!</h1>
    <a asp-controller="User" asp-action="Login">Log In</a> | 
    <a asp-controller="User" asp-action="Register">Sign Up</a>
</div>
